.sliced-content

  .nav-bar-box
    .tetronian-logotype
      img(src="{{site.baseurl}}/assets/img/logos/tetronian-logotype.svg", title="Tetronian", alt="Tetronian").logotype
    nav.site-nav
      a(href="{{site.baseurl}}/").menu-item 
        span.menu-item-name Home
      a(href="{{site.baseurl}}/404").menu-item  
        span.menu-item-name Shop
      a(href="{{site.baseurl}}/contact").menu-item  
        span.menu-item-name Contact
  
  .sliced-box
    .sliced-info
      .outer-text
        h1.glitch 404
        h1.glitch.glitchIn.glitchOut.outer-text-orange 404
      .inside-text
        .diagonal-spacing
        .diagonal-spacing
        .diagonal-spacing
        .diagonal-spacing
        .diagonal-spacing
        .diagonal-spacing
        .diagonal-spacing
        .diagonal-spacing
        .diagonal-spacing
        .diagonal-spacing
        .diagonal-spacing
        .diagonal-spacing
        p(style='white-space:pre;')
          | Hi Trionian traveler,
          br
          | It looks like you're stuck between dimensions...
        a({{site.baseurl}}href="{{site.baseurl}}/")
          button.button
            span(data-letters='Back to homepage') Back to homepage
  
  .tetronian-indent
    img.glitch(src="{{site.baseurl}}/assets/img/indent/indent-404.png", title="Indent 404", alt="Indent 404")
    img.glitch.glitchIn.glitchOut(src="{{site.baseurl}}/assets/img/indent/indent-404.png", title="Indent", alt="Indent")
  
  .copyright-box
    .copyright
      p &copy; 2019 Tetronian
  
  .penrose-background(style="background-image: url({{site.baseurl}}/assets/img/backgrounds/penrose-diagram.svg)")
  
  .gradient-background(style="background-image: url({{site.baseurl}}/assets/img/backgrounds/gradient-background.svg)")
  
