.tryout(style="background-image: url({{site.baseurl}}/assets/img/backgrounds/penrose-fullgradient-background.svg)")

.notify
  .notify-box
    .icon-close
      .icon45
      .icon-45
    .subscribe-form
      #mc_embed_signup
        form#mc-embedded-subscribe-form.validate(action='//tetrahedralprism.us14.list-manage.com/subscribe/post?u=91a07fff81f4f893e42cbb5f9&id=1ed1137411', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='')
          #mc_embed_signup_scroll
            .form-display
              .mc-field-group.group-text
                input#mce-NAME(type='text', value='', name='NAME')
                label(for='mce-NAME') Your Name...
              .mc-field-group.group-email
                input#mce-EMAIL.required.email(type='email', value='', name='EMAIL')
                label(for='mce-EMAIL') Your Email...
              //- input#mc-embedded-subscribe.subscribe-button(type='submit', value='Subscribe', name='subscribe')
              .mc-field-group.group-submit
                button#mc-embedded-subscribe.button(type='submit', value='Subscribe')
                  span(data-letters='Notify Me') Notify Me
            #mce-responses.clear
              #mce-error-response.response(style='display:none')
              #mce-success-response.response(style='display:none')
            // real people should not fill this in and expect good things - do not remove this or risk form bot signups
            div(style='position: absolute; left: -5000px;')
              input(type='text', name='b_91a07fff81f4f893e42cbb5f9_1ed1137411', tabindex='-1', value='')
              
      
      
.hide
  .search-wrap
    button#btn-search.btn.btn--search
      svg.icon.icon--search
        use(xlink:href='#icon-search')    
  .search
    button#btn-search-close.btn.btn--search-close(aria-label='Close search form')
      svg.icon.icon--cross
        use(xlink:href='#icon-cross')
    form.search__form(action='')
      input.search__input(name='search', type='search', placeholder='', autocomplete='off', autocorrect='off', autocapitalize='off', spellcheck='false')
      span.search__info Hit enter to search or ESC to close
    
    symbol#icon-cross(viewbox='0 0 24 24')
      title cross
      path(d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z')
