
<div class="sliced-content">
  <div class="nav-bar-box">
    <div class="tetronian-logotype"><img class="logotype" src="{{site.baseurl}}/assets/img/logos/tetronian-logotype.svg" title="Tetronian" alt="Tetronian"/></div>
    <nav class="site-nav"><a class="menu-item" href="{{site.baseurl}}/"> <span class="menu-item-name">Home</span></a><a class="menu-item" href="{{site.baseurl}}/404"> <span class="menu-item-name">Shop</span></a><a class="menu-item" href="{{site.baseurl}}/contact"> <span class="menu-item-name">Contact</span></a></nav>
  </div>
  <div class="sliced-box">
    <div class="sliced-info">
      <div class="outer-text">
        <h1 class="glitch">404</h1>
        <h1 class="glitch glitchIn glitchOut outer-text-orange">404</h1>
      </div>
      <div class="inside-text">
        <div class="diagonal-spacing"></div>
        <div class="diagonal-spacing"></div>
        <div class="diagonal-spacing"></div>
        <div class="diagonal-spacing"></div>
        <div class="diagonal-spacing"></div>
        <div class="diagonal-spacing"></div>
        <div class="diagonal-spacing"></div>
        <div class="diagonal-spacing"></div>
        <div class="diagonal-spacing"></div>
        <div class="diagonal-spacing"></div>
        <div class="diagonal-spacing"></div>
        <div class="diagonal-spacing"></div>
        <p style="white-space:pre;">Hi Trionian traveler,<br/>It looks like you're stuck between dimensions...</p><a {{site.baseurl}}href="{{site.baseurl}}/">
          <button class="button"><span data-letters="Back to homepage">Back to homepage</span></button></a>
      </div>
    </div>
  </div>
  <div class="tetronian-indent"><img class="glitch" src="{{site.baseurl}}/assets/img/indent/indent-404.png" title="Indent 404" alt="Indent 404"/><img class="glitch glitchIn glitchOut" src="{{site.baseurl}}/assets/img/indent/indent-404.png" title="Indent" alt="Indent"/></div>
  <div class="copyright-box">
    <div class="copyright">
      <p>&copy; 2019 Tetronian</p>
    </div>
  </div>
  <div class="penrose-background" style="background-image: url({{site.baseurl}}/assets/img/backgrounds/penrose-diagram.svg)"></div>
  <div class="gradient-background" style="background-image: url({{site.baseurl}}/assets/img/backgrounds/gradient-background.svg)"></div>
</div>