
<header>
  <div class="tetronian-logo"><a href="{{site.baseurl}}/"><img class="logo" src="{{site.baseurl}}/assets/img/logos/tetronian-logo.svg" title="Tetronian" alt="Tetronian"/></a></div>
  <div class="social-media">
    <div class="grid-item"><a class="slash" target="_blank" href="https://www.instagram.com/tetronian/"><img src="{{site.baseurl}}/assets/img/icons/instagram.svg" title="Instagram" alt="Instagram"/></a></div>
    <div class="grid-item"><a class="slash" target="_blank" href="https://www.facebook.com/tetronian/"><img src="{{site.baseurl}}/assets/img/icons/facebook-f.svg" title="Facebook" alt="Facebook"/></a></div>
    <div class="grid-item"><a class="slash" target="_blank" href="https://www.twitter.com/tetronian/"><img src="{{site.baseurl}}/assets/img/icons/twitter.svg" title="Twitter" alt="Twitter"/></a></div>
    <div class="grid-item"><a class="slash" target="_blank" href="http://tetronian.tumblr.com/"><img src="{{site.baseurl}}/assets/img/icons/tumblr.svg" title="Tumblr" alt="Tumblr"/></a></div>
    <div class="grid-item"><a class="slash" target="_blank" href="https://www.pinterest.com/tetronian/"><img src="{{site.baseurl}}/assets/img/icons/pinterest-p.svg" title="Pinterest" alt="Pinterest"/></a></div>
    <div class="grid-item"><a class="google-plus slash" target="_blank" href="https://plus.google.com/+tetronian"><img src="{{site.baseurl}}/assets/img/icons/google-plus.svg" title="Google+" alt="Google+"/></a></div>
  </div>
  <div class="mobile-nav-toggle"><span></span></div>
</header>