.home-wrap
  height: 100vh
  display: flex

  .tetronian-sections
    width: 95%
    position: relative
    // background: $tet-pureorange
    // background-image: url({{site.baseurl}}/assets/img/penrose-background.svg)
